
i.fa {
    display: inline-block;
    border-radius: 60px;
    padding: 0.5em 0.6em;
  }
  
  
  i.linkedin-bg {
      background-color: #0E76A8;
  }
  
  i.github-bg {
      background-color: #211F1F;
  }