.pageContainer.home {
    header {
        position: absolute;
        width: 100%;
        .navbar {
            background: rgba(0,0,0,0.3) !important;
        }
    }
    .contentWrapper {
        padding: 0px !important;
        main {
            margin: 0px !important;
            .image-text {
                color: #ccfbb5;
            }
        }
    }
    footer {
        display: none;
    }
}