.carditem:nth-of-type(1) .card .card-title { color: #a94bff; }
.carditem:nth-of-type(1) .card .card-btn { background: #a94bff; }

.carditem:nth-of-type(2) .card .card-title { color: #ff5a5a; }
.carditem:nth-of-type(2) .card .card-btn { background: #ff5a5a; }

.rgba-dark { background-color: rgba(0,0,0,.6) !important; }